 
    <h1>Welcome <%= @owner.name %>!</h1>
    <hr>
    <div class="row" style="margin-top:40px;">
    <div class="col-md-8">
    <% if @errors %>
        <h3><%=@errors%></h3>
    <% end %>
    <h2>Plant Collection:</h2>
    <%if @plants%>
    <ul>
        <%@plants.each do |p|%>
        <li>
            <a href="/plants/<%=p.id%>"><%=p.name%></a> <a href="/plants/<%=p.id%>/remove_owner" class="delete commentcontrol">Remove</a>
        </li>
        <%end%>
    </ul>
    <%else%>
    <p>Oh No! You have dont have any plants in your collection yet!</p>
    <%end%>
    </div>
    <div class="col-md-4">
    <p><a href="/plants">+ Add Plant to Collection</a></p>
    </div>
    </div>
    <hr style="margin-top:40px;">
    <div class="row" style="margin-top:40px;">
    <a href="/logout"><button class="submit">Logout</button></a>
    </div>
    </div>
